<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'expense.expenseDetail' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="presentDetailSort($event)" *ngIf="segment == 'items'">
        <ion-icon slot="icon-only" ios="swap-vertical-outline" md="swap-vertical"
                  [color]="detailSortConfig.currentSort.property != null ? 'primary' : 'dark'"></ion-icon>
      </ion-button>
      <ion-button (click)="presentDiscountSort($event)" *ngIf="segment == 'discounts'">
        <ion-icon slot="icon-only" ios="swap-vertical-outline" md="swap-vertical"
                  [color]="discountSortConfig.currentSort.property != null ? 'primary' : 'dark'"></ion-icon>
      </ion-button>
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" ios="close-outline" md="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment value="info" [(ngModel)]="segment" (ionChange)="segmentChanged($event.detail.value)">
      <ion-segment-button value="info">
        <ion-label>{{ 'general.info' | translate }}</ion-label>
      </ion-segment-button>
      <ion-segment-button value="items">
        <ion-label>{{ 'general.items' | translate }}</ion-label>
      </ion-segment-button>
      <ion-segment-button value="discounts">
        <ion-label>{{ 'general.discounts' | translate }}</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container [ngSwitch]="segment" *ngIf="expense != null">
    <ion-grid *ngSwitchCase="'info'">
      <form role="form" [formGroup]="form">
        <ion-row class="ion-justify-content-center">
          <ion-col size="4" size-md="2">
            <ion-item>
              <ion-label position="floating">{{ 'general.id' | translate }}</ion-label>
              <ion-input formControlName="id"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="8" size-md="6">
            <ion-item>
              <ion-label position="floating">
                {{ 'general.registered' | translate }}
                <ion-text color="danger">*</ion-text>
              </ion-label>
              <ion-datetime formControlName="registered" [displayFormat]="dateFormat"></ion-datetime>
            </ion-item>
          </ion-col>
          <ion-col size="12" size-md="8">
            <ion-item>
              <ion-label position="floating">
                {{ 'business.singular' | translate }}<ion-text color="danger">*</ion-text>
              </ion-label>
              <ion-input formControlName="business" [readonly]="true" (click)="searchBusiness()"></ion-input>
            </ion-item>
          </ion-col>

          <ion-col size="12" size-md="8">
            <ion-item>
              <ion-label position="floating">
                {{ 'currency.singular' | translate }}<ion-text color="danger">*</ion-text>
              </ion-label>
              <ion-input formControlName="currency" [readonly]="true" (click)="searchCurrency()"></ion-input>
            </ion-item>
          </ion-col>

          <ion-col size="12" size-md="8">
            <ion-item>
              <ion-label position="floating">{{ 'exchangeRate.singular' | translate }}</ion-label>
              <ion-input formControlName="rate" [readonly]="true" (click)="searchExchangeRate()"></ion-input>
              <ion-icon ios="close-outline" md="close" slot="end" *ngIf="selectedRate != null && editing && !isSending"
                        (click)="clearExchangeRate()" class="ion-padding-vertical"></ion-icon>
            </ion-item>
          </ion-col>

        </ion-row>
        <ion-row class="ion-justify-content-center">

          <ion-col size="12" size-md="8">
            <ion-list lines="none">
              <ion-radio-group [value]="expense.status" (ionChange)="changeStatus($event.detail.value)">
                <ion-list-header>
                  <ion-label>
                    {{ 'expense.status' | translate }}
                    <ion-text color="danger">*</ion-text>
                  </ion-label>
                </ion-list-header>

                <ion-item>
                  <ion-label>{{ 'expense.OPENED' | translate }}</ion-label>
                  <ion-radio slot="start" value="OPENED"></ion-radio>
                </ion-item>
                <ion-item>
                  <ion-label>{{ 'expense.CLOSED' | translate }}</ion-label>
                  <ion-radio slot="start" value="CLOSED"></ion-radio>
                </ion-item>
                <ion-item>
                  <ion-label>{{ 'expense.IGNORED' | translate }}</ion-label>
                  <ion-radio slot="start" value="IGNORED"></ion-radio>
                </ion-item>
              </ion-radio-group>
            </ion-list>
          </ion-col>

        </ion-row>
      </form>

      <ion-row class="ion-justify-content-center" *ngIf="!isSending">
        <ion-col size="12" size-md="8">
          <ion-list>
            <ion-list-header>
              <h2>{{ 'general.totals' | translate }}</h2>
            </ion-list-header>
            <ion-item>
              <ion-grid>
                <ion-row class="ion-justify-content-center">
                  <ion-col size="12">
                    <ion-list>

                      <ion-item lines="none">
                        <ion-label>{{ 'general.subtotal' | translate }}</ion-label>
                        <ion-badge color="light" slot="end" *ngIf="otherCurrency != null">
                          {{otherCurrency.identifier}} {{expense.subtotal * multiplier | number: '0.2-2'}}
                        </ion-badge>
                        <ion-badge color="light" slot="end">
                          {{expense.currency.identifier}} {{expense.subtotal | number: '0.2-2'}}
                        </ion-badge>
                      </ion-item>
                      <ion-item lines="none">
                        <ion-label>{{ 'general.discounts' | translate }}</ion-label>
                        <ion-badge color="light" slot="end" *ngIf="otherCurrency != null">
                          {{otherCurrency.identifier}} {{expense.discounts * multiplier | number: '0.2-2'}}
                        </ion-badge>
                        <ion-badge color="light" slot="end">
                          {{expense.currency.identifier}} {{expense.discounts | number: '0.2-2'}}
                        </ion-badge>
                      </ion-item>
                      <ion-item lines="none">
                        <ion-label>{{ 'general.total' | translate }}</ion-label>
                        <ion-badge color="medium" slot="end" *ngIf="otherCurrency != null">
                          {{otherCurrency.identifier}} {{expense.total * multiplier | number: '0.2-2'}}
                        </ion-badge>
                        <ion-badge color="medium" slot="end">
                          {{expense.currency.identifier}} {{expense.total | number: '0.2-2'}}
                        </ion-badge>
                      </ion-item>

                    </ion-list>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-center" *ngIf="!isSending && expense.totalByCategory != null">
        <ion-col size="12" size-md="8">
          <ion-list>
            <ion-list-header>
              <h2>{{ 'expense.totalsByCategory' | translate }}</h2>
            </ion-list-header>
            <ion-item *ngFor="let byCat of expense.totalByCategory">
              <ion-grid>
                <ion-row class="ion-justify-content-center">
                  <ion-col size="12">
                    <ion-list>
                      <h3>{{byCat.name}}</h3>
                      <ion-item lines="none">
                        <ion-label>{{ 'general.subtotal' | translate }}</ion-label>
                        <ion-badge color="light" slot="end" *ngIf="otherCurrency != null">
                          {{otherCurrency.identifier}} {{byCat.subtotal * multiplier | number: '0.2-2'}}
                        </ion-badge>
                        <ion-badge color="light" slot="end">
                          {{expense.currency.identifier}} {{byCat.subtotal | number: '0.2-2'}}
                        </ion-badge>
                      </ion-item>
                      <ion-item lines="none">
                        <ion-label>{{ 'general.discounts' | translate }}</ion-label>
                        <ion-badge color="light" slot="end" *ngIf="otherCurrency != null">
                          {{otherCurrency.identifier}} {{byCat.discounts * multiplier | number: '0.2-2'}}
                        </ion-badge>
                        <ion-badge color="light" slot="end">
                          {{expense.currency.identifier}} {{byCat.discounts | number: '0.2-2'}}
                        </ion-badge>
                      </ion-item>
                      <ion-item lines="none">
                        <ion-label>{{ 'general.total' | translate }}</ion-label>
                        <ion-badge color="medium" slot="end" *ngIf="otherCurrency != null">
                          {{otherCurrency.identifier}} {{byCat.total * multiplier | number: '0.2-2'}}
                        </ion-badge>
                        <ion-badge color="medium" slot="end">
                          {{expense.currency.identifier}} {{byCat.total | number: '0.2-2'}}
                        </ion-badge>
                      </ion-item>
                    </ion-list>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>

    </ion-grid>
    <app-details *ngSwitchCase="'items'" [expense]="expense"></app-details>
    <app-discounts *ngSwitchCase="'discounts'" [expense]="expense"></app-discounts>
  </ng-container>
</ion-content>

<ion-footer *ngIf="segment == 'info'">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="light" fill="solid" size="small" *ngIf="editing && !isSending" (click)="reset()">
        {{ 'general.reset' | translate }}
        <ion-icon slot="start" ios="close-outline" md="close"></ion-icon>
      </ion-button>
      <ion-button color="danger" fill="solid" size="small"
                  *ngIf="!isSending && expense != null && expense.id > 0" (click)="delete()">
        {{ 'general.delete' | translate }}
        <ion-icon slot="start" ios="trash-outline" md="trash"></ion-icon>
      </ion-button>
      <ion-button color="primary" fill="solid" size="small" *ngIf="!editing && !isSending" (click)="copy()">
        {{ 'general.copy' | translate }}
        <ion-icon slot="start" ios="copy-outline" md="copy"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="primary" fill="solid" size="small" *ngIf="editing && !isSending" (click)="save()"
                  [disabled]="form.invalid">
        {{ 'general.save' | translate }}
        <ion-icon slot="end" ios="save-outline" md="save"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
