<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'budget.budgetItem' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" ios="close-outline" md="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="light" fill="solid" size="small" *ngIf="editing && !isSending" (click)="cancelEdit()">
        {{ 'general.cancel' | translate }}
        <ion-icon slot="start" ios="close-outline" md="close"></ion-icon>
      </ion-button>
      <ion-button color="danger" fill="solid" size="small"
                  *ngIf="!editing && !isSending && item != null && item.id > 0" (click)="delete()">
        {{ 'general.delete' | translate }}
        <ion-icon slot="start" ios="trash-outline" md="trash"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="primary" fill="solid" size="small" *ngIf="editing && !isSending" (click)="save()"
                  [disabled]="form.invalid || selectedCategory == null" (document:keydown.control.enter)="save()">
        {{ 'general.save' | translate }}
        <ion-icon slot="end" ios="save-outline" md="save"></ion-icon>
      </ion-button>
      <ion-button color="primary" fill="solid" size="small" *ngIf="!editing && !isSending" (click)="startEdit()">
        {{ 'general.edit' | translate }}
        <ion-icon slot="end" ios="pencil-outline" md="pencil"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form role="form" [formGroup]="form">
    <ion-grid>
      <ion-row class="ion-justify-content-center">

        <ion-col size="4" size-md="2">
          <ion-item>
            <ion-label position="floating">{{ 'general.id' | translate }}</ion-label>
            <ion-input formControlName="id"></ion-input>
          </ion-item>
        </ion-col>

        <ion-col size="8" size-md="6">
          <ion-item>
            <ion-label position="floating">{{ 'general.amount' | translate }}
              <ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-input formControlName="amount" type="number"></ion-input>
          </ion-item>
        </ion-col>

      </ion-row>

      <ion-row class="ion-justify-content-center">
        <ion-col size="12" size-md="8">
          <ion-item>
            <ion-label position="floating">
              {{ 'category.singular' | translate }}
              <ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-input formControlName="category" [readonly]="true" (click)="searchCategory()"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

    </ion-grid>
  </form>
</ion-content>
