<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'exchangeRate.singular' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" ios="close-outline" md="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="light" fill="solid" size="small" *ngIf="editing && !isSending" (click)="cancelEdit()">
        {{ 'general.cancel' | translate }}
        <ion-icon slot="start" ios="close-outline" md="close"></ion-icon>
      </ion-button>
      <ion-button color="danger" fill="solid" size="small"
                  *ngIf="!editing && !isSending && exchangeRate != null && exchangeRate.id > 0" (click)="delete()">
        {{ 'general.delete' | translate }}
        <ion-icon slot="start" ios="trash-outline" md="trash"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="primary" fill="solid" size="small" *ngIf="editing && !isSending" (click)="save()"
                  [disabled]="form.invalid" (document:keydown.control.enter)="save()">
        {{ 'general.save' | translate }}
        <ion-icon slot="end" ios="save-outline" md="save"></ion-icon>
      </ion-button>
      <ion-button color="primary" fill="solid" size="small" *ngIf="!editing && !isSending" (click)="startEdit()">
        {{ 'general.edit' | translate }}
        <ion-icon slot="end" ios="pencil-outline" md="pencil"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form role="form" [formGroup]="form">
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col size="4" size-md="2">
          <ion-item>
            <ion-label position="floating">{{ 'general.id' | translate }}</ion-label>
            <ion-input formControlName="id"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="8" size-md="6">
          <ion-item>
            <ion-label position="floating">
              {{ 'general.registered' | translate }}
              <ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-datetime formControlName="registered" [displayFormat]="dateFormat"></ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col size="12" size-md="8">
          <ion-item>
            <ion-label position="floating">
              {{ 'exchangeRate.selling' | translate }}
              <ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-input formControlName="from" [readonly]="true" (click)="searchFrom()"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="12" size-md="8">
          <ion-item>
            <ion-label position="floating">
              {{ 'exchangeRate.buying' | translate }}
              <ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-input formControlName="to" [readonly]="true" (click)="searchTo()"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="8" size-md="5">
          <ion-item>
            <ion-label position="floating">
              {{ 'exchangeRate.rate' | translate }}
              <ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-input formControlName="multiplier" type="number"
                       (ionChange)="multiplierChange($event.detail.value)"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="4" size-md="3" class="ion-align-self-end">
          <ion-button expand="block" fill="solid" color="primary" *ngIf="selectedFrom != null && selectedTo != null"
                      [disabled]="selectedFrom == null || selectedTo == null || !editing" (click)="switchMultiplier()">
            {{multiplierHelper ? (selectedTo.code + ' -> ' + selectedFrom.code) : (selectedFrom.code + ' -> ' + selectedTo.code)}}
          </ion-button>
        </ion-col>
        <ion-col size="12" size-md="8" *ngIf="selectedFrom != null && selectedTo != null">
          <ion-item lines="none">
            <ion-label position="stacked">
              {{ 'exchangeRate.helper' | translate }}
            </ion-label>
            <ion-note>
              <p>
                1 {{selectedFrom.code}}
                = {{(multiplierHelper ? 1 / selectedMultiplier : selectedMultiplier) | number: '0.2-2'}} {{selectedTo.code}}
              </p>
              <p>
                1 {{selectedTo.code}}
                = {{(multiplierHelper ? selectedMultiplier : 1 / selectedMultiplier)  | number: '0.2-2'}} {{selectedFrom.code}}
              </p>
            </ion-note>
          </ion-item>
        </ion-col>
      </ion-row>

    </ion-grid>
  </form>
</ion-content>
