<ion-item lines="none">
  <ion-buttons slot="end">
    <ion-button fill="clear" color="dark" (click)="getStats()" *ngIf="stats == null"
                [disabled]="form == null || form.invalid || selectedBusiness == null || selectedCurrency == null">
      {{ "general.search" | translate }}
      <ion-icon slot="end" name="search"></ion-icon>
    </ion-button>
    <ion-button fill="clear" color="dark" (click)="clearStat()" *ngIf="stats != null">
      {{ "general.clear" | translate }}
      <ion-icon slot="end" name="close"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-item>
<ion-item lines="none">
  <form role="form" *ngIf="form != null" [formGroup]="form">

    <ion-row class="ion-justify-content-center">

      <ion-col size="12" size-md="8">
        <ion-item>
          <ion-label position="floating">
            {{ "general.from" | translate }}
            <ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-datetime formControlName="from" [displayFormat]="dateFormat.selector"></ion-datetime>
        </ion-item>
      </ion-col>

      <ion-col size="12" size-md="8">
        <ion-item>
          <ion-label position="floating">
            {{ "general.to" | translate }}
            <ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-datetime formControlName="to" [displayFormat]="dateFormat.selector"></ion-datetime>
        </ion-item>
      </ion-col>

      <ion-col size="12" size-md="8">
        <ion-item>
          <ion-label position="floating">
            {{ 'currency.singular' | translate }}<ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input formControlName="currency" (click)="searchCurrency()" [readonly]="true"></ion-input>
        </ion-item>
      </ion-col>

      <ion-col size="12" size-md="8">
        <ion-item>
          <ion-label position="floating">
            {{ 'business.singular' | translate }}<ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input formControlName="business" [readonly]="true" (click)="searchBusiness()"></ion-input>
        </ion-item>
      </ion-col>

    </ion-row>

  </form>
</ion-item>
<ion-item lines="none" *ngIf="stats == null">
  <ion-label>
    <h2>{{ 'home.noCriteriaSelected' | translate }}</h2>
  </ion-label>
</ion-item>

<ion-item *ngIf="stats != null" lines="none">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" style="min-height: 300px">
        <canvas #businessGraph></canvas>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-item>
<ion-item *ngIf="graph != null">
  <ion-button fill="clear" color="dark" slot="end" (click)="toggleBarLabels()">
    {{ "general.toggleLabels" | translate }}
    <ion-icon slot="end" ios="bar-chart-outline" md="bar-chart"></ion-icon>
  </ion-button>
</ion-item>

<ion-item lines="none" *ngIf="stats != null">
  <ion-grid>
    <ion-row>
      <ion-col size="12">

        <ion-list>
          <ion-list-header>
            <h2>{{ 'general.detail' | translate }}</h2>
          </ion-list-header>

          <ion-item>
            <ion-grid>
              <ion-row class="ion-justify-content-center">
                <ion-col size="6">
                  <ion-label>
                    <h3>{{ "category.singular" | translate }}</h3>
                  </ion-label>
                </ion-col>
                <ion-col size="6">
                  <ion-label>
                    <h3 class="ion-text-end">{{ "general.amount" | translate }}</h3>
                  </ion-label>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>

          <ng-container *ngFor="let it of stats.details">
            <ion-item>
              <ion-grid>
                <ion-row class="ion-justify-content-center">
                  <ion-col size="6">
                    <ion-label>
                      <h3>{{it.name}}</h3>
                    </ion-label>
                  </ion-col>
                  <ion-col size="6">
                    <ion-label>
                      <p class="ion-text-end">{{it.total | number: '0.2-2'}}</p>
                    </ion-label>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-item>
          </ng-container>

          <ion-item>
            <ion-grid>
              <ion-row class="ion-justify-content-center">
                <ion-col size="6">
                  <ion-label>
                    <h3>{{ "general.total" | translate }}</h3>
                  </ion-label>
                </ion-col>
                <ion-col size="6">
                  <ion-label>
                    <h3 class="ion-text-end">{{stats.total | number: '0.2-2'}}</h3>
                  </ion-label>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>

        </ion-list>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-item>
