<ion-item lines="none">
  <ion-buttons slot="end">
    <ion-button fill="clear" color="dark" (click)="searchBudget()" *ngIf="report == null" [disabled]="graphLoading">
      {{ "general.search" | translate }}
      <ion-icon slot="end" name="search"></ion-icon>
    </ion-button>
    <ion-button fill="clear" color="dark" (click)="openBudget()" *ngIf="report != null">
      {{ "general.view" | translate }}
      <ion-icon slot="end" name="eye"></ion-icon>
    </ion-button>
    <ion-button fill="clear" color="dark" (click)="resetBudget()" *ngIf="report != null">
      {{ "general.clear" | translate }}
      <ion-icon slot="end" name="close"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-item>
<ion-item lines="none">
  <ion-label *ngIf="report != null">
    <h2>{{report.budget.name}} <small>{{report.budget.currency.name}}</small></h2>
    <p>{{ "general.from" | translate }}: {{report.budget.from | date: dateFormat.pipe}}</p>
    <p>{{ "general.to" | translate }}: {{report.budget.to | date: dateFormat.pipe}}</p>
  </ion-label>
  <ion-label *ngIf="report == null && !graphLoading">
    <h2>{{ "home.noBudgetSelected" | translate }}</h2>
  </ion-label>
</ion-item>

<ion-item lines="none" *ngIf="report != null">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" style="min-height: 500px">
        <canvas #budgetGraph></canvas>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-item>

<ion-item *ngIf="graph != null">
  <ion-button fill="clear" color="dark" slot="end" [disabled]="graphLoading" (click)="toggleBarLabels()">
    {{ "general.toggleLabels" | translate }}
    <ion-icon slot="end" ios="bar-chart-outline" md="bar-chart"></ion-icon>
  </ion-button>
</ion-item>

<ion-item *ngIf="report != null" lines="none">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="4">
        <ion-label>
          <h3 class="ion-text-end">{{ "budget.expected" | translate }}</h3>
        </ion-label>
      </ion-col>
      <ion-col size="4">
        <ion-label>
          <h3 class="ion-text-end">{{ "budget.expended" | translate }}</h3>
        </ion-label>
      </ion-col>
      <ion-col size="4">
        <ion-label>
          <h3 class="ion-text-end">{{ "budget.completed" | translate }}</h3>
        </ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-item>

<ion-item *ngIf="report != null" lines="none">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="4">
        <ion-label>
          <h3 class="ion-text-end">{{report.totalExpected | number: '0.2-2'}}</h3>
        </ion-label>
      </ion-col>
      <ion-col size="4">
        <ion-label>
          <h3 class="ion-text-end">{{report.totalExpended | number: '0.2-2'}}</h3>
        </ion-label>
      </ion-col>
      <ion-col size="4">
        <ion-label>
          <h3 class="ion-text-end">{{report.totalCompleted | number: '0.2-2'}}</h3>
        </ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-item>
