<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="true"></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ 'exchangeRate.plural' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="presentSort($event)">
        <ion-icon slot="icon-only" ios="swap-vertical-outline" md="swap-vertical"
                  [color]="sortConfig.currentSort.property != null ? 'primary' : 'dark'"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid *ngIf="exchangeRates.length > 0">
    <ion-row>
      <ion-col *ngFor="let er of exchangeRates; let i = index" size="12" size-md="6">
        <ion-card>
          <ion-item lines="none">
            <ion-label>
              <p>{{ 'exchangeRate.selling' | translate }}: </p>
              <h2>{{er.from.name}}</h2>
            </ion-label>
            <ion-note slot="end" *ngIf="er.multiplier !== 0">
              1 {{er.from.code}} = {{er.multiplier | number: '0.2-2'}} {{er.to.code}}
            </ion-note>
          </ion-item>
          <ion-item lines="none">
            <ion-label>
              <p>{{ 'exchangeRate.buying' | translate }}: </p>
              <h2>{{er.to.name}}</h2>
            </ion-label>
            <ion-note slot="end" *ngIf="er.multiplier !== 0">
              1 {{er.to.code}} = {{1 / er.multiplier | number: '0.2-2'}} {{er.from.code}}
            </ion-note>
          </ion-item>
          <ion-item lines="none">
            <ion-label>
              <p>{{ 'general.registered' | translate }}: </p>
              <h2>{{er.registered | date: dateFormat}}</h2>
            </ion-label>
          </ion-item>
          <ion-item lines="none">
            <ion-button fill="clear" color="dark" slot="end" (click)="openExchangeRate(er, i)">
              {{ 'general.view' | translate }}
              <ion-icon slot="end" name="eye"></ion-icon>
            </ion-button>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list *ngIf="loadingContent">
    <ion-item>
      <ion-label>{{ 'general.loading' | translate }}</ion-label>
      <ion-spinner></ion-spinner>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="listContent()">
    <ion-infinite-scroll-content loading-spinner="null">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button color="success" fill="solid" expand="block" (click)="openExchangeRate(null, null)">
        {{ 'general.new' | translate }}
        <ion-icon ios="add-outline" md="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
