<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="true"></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ 'expense.plural' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="presentSort($event)">
        <ion-icon slot="icon-only" ios="swap-vertical-outline" md="swap-vertical"
                  [color]="sortConfig.currentSort.property != null ? 'primary' : 'dark'"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid *ngIf="expenses.length > 0">
    <ion-row>
      <ion-col *ngFor="let exp of expenses" size="12" size-md="6">
        <ion-card>
          <ion-item lines="none">
            <ion-label>
              <p>{{ 'business.singular' | translate }}: </p>
              <h2>{{exp.business.name}}</h2>
            </ion-label>
            <ion-badge slot="end"
                       [color]="exp.status === 'CLOSED' ? 'success' : (exp.status === 'OPENED' ? 'warning' : 'light')">
              {{ 'expense.' + exp.status | translate }}
            </ion-badge>
          </ion-item>
          <ion-item lines="none">
            <ion-label>
              <p>{{ 'currency.singular' | translate }}: </p>
              <h2>{{exp.currency.name}}</h2>
            </ion-label>
          </ion-item>
          <ion-item lines="none">
            <ion-label>
              <p>{{ 'general.registered' | translate }}: </p>
              <h2>{{exp.registered | date: dateFormat}}</h2>
            </ion-label>
          </ion-item>
          <ion-item lines="none">
            <ion-grid>
              <ion-row>
                <ion-col size="4">
                  <ion-label>
                    <p>{{ 'general.subtotal' | translate }}: </p>
                    <h2>{{exp.subtotal | number: '0.2-2'}}</h2>
                  </ion-label>
                </ion-col>
                <ion-col size="4">
                  <ion-label>
                    <p>{{ 'general.discounts' | translate }}: </p>
                    <h2>{{exp.discounts | number: '0.2-2'}}</h2>
                  </ion-label>
                </ion-col>
                <ion-col size="4">
                  <ion-label>
                    <p>{{ 'general.total' | translate }}: </p>
                    <h2>{{exp.total | number: '0.2-2'}}</h2>
                  </ion-label>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
          <ion-item lines="none">
            <ion-button fill="clear" color="dark" slot="end" (click)="openExpense(exp)">
              {{ 'general.view' | translate }}
              <ion-icon slot="end" name="eye"></ion-icon>
            </ion-button>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list *ngIf="loadingContent">
    <ion-item>
      <ion-label>{{ 'general.loading' | translate }}</ion-label>
      <ion-spinner></ion-spinner>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="listContent()">
    <ion-infinite-scroll-content loading-spinner="null">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="end" *ngIf="!showFilters">
      <ion-button [color]="selectedCurrency != null || selectedBusiness != null ? 'primary' : 'medium'" fill="solid"
                  expand="block" (click)="showFilters = !showFilters">
        {{ 'general.filters' | translate }}
        <ion-icon ios="filter-outline" md="filter"></ion-icon>
      </ion-button>
      <ion-button color="success" fill="solid" expand="block" (click)="createExpense()">
        {{ 'general.new' | translate }}
        <ion-icon ios="add-outline" md="add"></ion-icon>
      </ion-button>

    </ion-buttons>
    <ion-item lines="none" *ngIf="showFilters">
      <ion-buttons slot="start" *ngIf="selectedCurrency == null || selectedBusiness == null">
        <ion-button color="primary" fill="outline" expand="block" (click)="searchBusiness()"
                    *ngIf="selectedBusiness == null">
          <ion-icon ios="business-outline" md="business" slot="start"></ion-icon>
          {{ 'business.singular' | translate }}
        </ion-button>
        <ion-button color="primary" fill="outline" expand="block" (click)="searchCurrency()"
                    *ngIf="selectedCurrency == null">
          <ion-icon ios="cash-outline" md="cash" slot="start"></ion-icon>
          {{ 'currency.singular' | translate }}
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button (click)="showFilters = !showFilters">
          <ion-icon slot="icon-only" ios="close-outline" md="close" color="dark"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-toolbar>
  <ion-toolbar *ngIf="showFilters && (selectedCurrency != null || selectedBusiness != null)">
    <p slot="start">
      <ion-chip outline color="primary" *ngIf="selectedBusiness != null">
        <ion-icon ios="business-outline" md="business"></ion-icon>
        <ion-label>
          {{ (selectedBusiness.name.length > 15) ? (selectedBusiness.name | slice:0:15) + '...' : (selectedBusiness.name) }}
        </ion-label>
        <ion-icon name="close-circle" (click)="clearSelectedBusiness()"></ion-icon>
      </ion-chip>
      <ion-chip outline color="primary" *ngIf="selectedCurrency != null">
        <ion-icon ios="cash-outline" md="cash"></ion-icon>
        <ion-label>
          {{selectedCurrency.code}}
        </ion-label>
        <ion-icon name="close-circle" (click)="clearSelectedCurrency()"></ion-icon>
      </ion-chip>
    </p>
  </ion-toolbar>
</ion-footer>
