<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal(null)">
        <ion-icon slot="icon-only" ios="close-outline" md="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-searchbar debounce="500" [disabled]="true" slot="start"
        placeholder="{{currency != null ? currency.name : ('exchangeRate.searchWithoutCurrency' | translate )}}">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item>
      <ion-button fill="solid" size="small" color="success" slot="end" (click)="createExchangeRate()">
        {{ 'general.new' | translate }}
      </ion-button>
    </ion-item>
    <ng-container *ngIf="rates.length > 0">
      <ng-container *ngFor="let er of rates">
        <ion-item lines="none">
          <ion-label>
            <p>{{ 'exchangeRate.selling' | translate }}: </p>
            <h2>{{er.from.name}}</h2>
          </ion-label>
          <ion-note slot="end" *ngIf="er.multiplier !== 0">
            1 {{er.from.code}} = {{er.multiplier | number: '0.2-2'}} {{er.to.code}}
          </ion-note>
        </ion-item>
        <ion-item lines="none">
          <ion-label>
            <p>{{ 'exchangeRate.buying' | translate }}: </p>
            <h2>{{er.to.name}}</h2>
          </ion-label>
          <ion-note slot="end" *ngIf="er.multiplier !== 0">
            1 {{er.to.code}} = {{1 / er.multiplier | number: '0.2-2'}} {{er.from.code}}
          </ion-note>
        </ion-item>
        <ion-item>
          <ion-label>
            <p>{{ 'exchangeRate.registered' | translate }}: </p>
            <h2>{{er.registered | date: dateFormat.pipe}}</h2>
          </ion-label>
          <ion-button fill="solid" size="small" color="primary" (click)="closeModal(er)">
            {{ 'general.select' | translate }}
          </ion-button>
        </ion-item>
      </ng-container>
    </ng-container>
    <ion-item *ngIf="loadingContent">
      <ion-label>{{ 'general.loading' | translate }}</ion-label>
      <ion-spinner></ion-spinner>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="listContent()">
    <ion-infinite-scroll-content loading-spinner="null">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
