<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal(null)">
        <ion-icon slot="icon-only" ios="close-outline" md="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-searchbar debounce="500" placeholder="{{ 'product.search' | translate }}" slot="start"
                   (ionChange)="search($event.target.value)"
                   (ionClear)="resetList()"
                   (document:keydown.enter)="closeModalWithSelected()"
                   (document:keydown.arrowdown)="selectNext()"
                   (document:keydown.arrowup)="selectPrev()"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item>
      <ion-button fill="solid" size="small" color="success" slot="end" (click)="createProduct()">
        {{ 'general.new' | translate }}
      </ion-button>
    </ion-item>
    <ng-container *ngIf="products.length > 0">
      <ion-item *ngFor="let prod of products; let i = index" [color]="selectedItem === i ? 'light' : ''">
        <ion-label>
          <h2>{{prod.name}}</h2>
          <p *ngIf="prod.category != null">{{prod.category.name}}</p>
        </ion-label>
        <ion-button fill="solid" size="small" color="primary" (click)="closeModal(prod)">
          {{ 'general.select' | translate }}
        </ion-button>
      </ion-item>
    </ng-container>
    <ion-item *ngIf="loadingContent">
      <ion-label>{{ 'general.loading' | translate }}</ion-label>
      <ion-spinner></ion-spinner>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="listContent()">
    <ion-infinite-scroll-content loading-spinner="null">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
