<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'budget.detailTitle' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="presentItemSort($event)" *ngIf="segment == 'items'">
        <ion-icon slot="icon-only" ios="swap-vertical-outline" md="swap-vertical"
                  [color]="itemSortConfig.currentSort.property != null ? 'primary' : 'dark'"></ion-icon>
      </ion-button>
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" ios="close-outline" md="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment value="info" [(ngModel)]="segment" (ionChange)="segmentChanged($event.detail.value)">
      <ion-segment-button value="info">
        <ion-label>{{ 'general.info' | translate }}</ion-label>
      </ion-segment-button>
      <ion-segment-button value="items">
        <ion-label>{{ 'general.items' | translate }}</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container [ngSwitch]="segment" *ngIf="budgetReport != null">
    <ion-grid *ngSwitchCase="'info'">
      <form role="form" [formGroup]="form">
        <ion-row class="ion-justify-content-center">

          <ion-col size="4" size-md="2">
            <ion-item>
              <ion-label position="floating">{{ 'general.id' | translate }}</ion-label>
              <ion-input formControlName="id"></ion-input>
            </ion-item>
          </ion-col>

          <ion-col size="8" size-md="6">
            <ion-item>
              <ion-label position="floating">
                {{ 'general.name' | translate }}
                <ion-text color="danger">*</ion-text>
              </ion-label>
              <ion-input formControlName="name"></ion-input>
            </ion-item>
          </ion-col>

          <ion-col size="12" size-md="8">
            <ion-item>
              <ion-label position="floating">
                {{ 'general.from' | translate }}
                <ion-text color="danger">*</ion-text>
              </ion-label>
              <ion-datetime formControlName="from" [displayFormat]="dateFormat" [max]="maxDate"></ion-datetime>
            </ion-item>
          </ion-col>

          <ion-col size="12" size-md="8">
            <ion-item>
              <ion-label position="floating">
                {{ 'general.to' | translate }}
                <ion-text color="danger">*</ion-text>
              </ion-label>
              <ion-datetime formControlName="to" [displayFormat]="dateFormat" [max]="maxDate"></ion-datetime>
            </ion-item>
          </ion-col>

          <ion-col size="12" size-md="8">
            <ion-item>
              <ion-label position="floating">
                {{ 'currency.singular' | translate }}
                <ion-text color="danger">*</ion-text>
              </ion-label>
              <ion-input formControlName="currency" [readonly]="true" (click)="searchCurrency()"></ion-input>
            </ion-item>
          </ion-col>

        </ion-row>
      </form>

      <ion-row class="ion-justify-content-center" *ngIf="!editing && graphAttempts <= 10">
        <ion-col size="12">
          <ion-card>
            <ion-card-content>

              <ion-item lines="none">
                <ion-grid>
                  <ion-row>
                    <ion-col size="12" style="min-height: 500px">
                      <canvas #budgetGraph></canvas>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-item>

              <ion-item lines="none" *ngIf="graph != null">
                <ion-button fill="clear" color="dark" slot="end" (click)="toggleBarLabels()">
                  {{ 'general.toggleLabels' | translate }}
                  <ion-icon slot="end" ios="bar-chart-outline" md="bar-chart"></ion-icon>
                </ion-button>
              </ion-item>

            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-center" *ngIf="!editing">
        <ion-col size="12">
          <ion-card>
            <ion-list fxHide.lt-md="true">
              <ion-list-header>
                <h2>{{ 'budget.expendedTable' | translate }}</h2>
              </ion-list-header>

              <ion-item>
                <ion-button fill="clear" color="dark" slot="end" (click)="copyBudget()">
                  {{ 'general.copy' | translate }}
                  <ion-icon slot="end" ios="copy-outline" md="copy"></ion-icon>
                </ion-button>
              </ion-item>
              <ion-item>
                <ion-grid>
                  <ion-row class="ion-justify-content-center">
                    <ion-col size="4">
                      <ion-label>
                        <h3>{{ 'category.singular' | translate }}</h3>
                      </ion-label>
                    </ion-col>
                    <ion-col size="2">
                      <ion-label>
                        <h3 class="ion-text-end">{{ 'budget.expected' | translate }}</h3>
                      </ion-label>
                    </ion-col>
                    <ion-col size="2">
                      <ion-label>
                        <h3 class="ion-text-end">{{ 'budget.expended' | translate }}</h3>
                      </ion-label>
                    </ion-col>
                    <ion-col size="2">
                      <ion-label>
                        <h3 class="ion-text-end">{{ 'budget.remains' | translate }}</h3>
                      </ion-label>
                    </ion-col>
                    <ion-col size="2">
                      <ion-label>
                        <h3 class="ion-text-end">{{ 'budget.completed' | translate }}</h3>
                      </ion-label>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-item>

              <ng-container *ngFor="let it of budgetReport.details">
                <ion-item>
                  <ion-grid>
                    <ion-row class="ion-justify-content-center">
                      <ion-col size="4">
                        <ion-label>
                          <h3>{{it.name}}</h3>
                        </ion-label>
                      </ion-col>
                      <ion-col size="2">
                        <ion-label>
                          <p class="ion-text-end">{{it.expected | number: '0.2-2'}}</p>
                        </ion-label>
                      </ion-col>
                      <ion-col size="2">
                        <ion-label>
                          <p class="ion-text-end">{{it.expended | number: '0.2-2'}}</p>
                        </ion-label>
                      </ion-col>
                      <ion-col size="2">
                        <ion-label>
                          <p class="ion-text-end">{{it.remainedToExpend | number: '0.2-2'}}</p>
                        </ion-label>
                      </ion-col>
                      <ion-col size="2">
                        <ion-label>
                          <p class="ion-text-end">{{it.completed | number: '0.2-2'}}</p>
                        </ion-label>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-item>
              </ng-container>

              <ion-item lines="none">
                <ion-grid>
                  <ion-row class="ion-justify-content-center">
                    <ion-col size="4">
                      <ion-label>
                        <h3>{{ 'general.total' | translate }}</h3>
                      </ion-label>
                    </ion-col>
                    <ion-col size="2">
                      <ion-label>
                        <h3 class="ion-text-end">{{budgetReport.totalExpected | number: '0.2-2'}}</h3>
                      </ion-label>
                    </ion-col>
                    <ion-col size="2">
                      <ion-label>
                        <h3 class="ion-text-end">{{budgetReport.totalExpended | number: '0.2-2'}}</h3>
                      </ion-label>
                    </ion-col>
                    <ion-col size="2">
                      <ion-label>
                        <h3 class="ion-text-end">{{budgetReport.totalRemainedToExpend | number: '0.2-2'}}</h3>
                      </ion-label>
                    </ion-col>
                    <ion-col size="2">
                      <ion-label>
                        <h3 class="ion-text-end">{{budgetReport.totalCompleted | number: '0.2-2'}}</h3>
                      </ion-label>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-item>

            </ion-list>

            <ion-list fxHide.gt-sm="true">
              <ion-list-header>
                <h2>{{ 'budget.expendedTable' | translate }}</h2>
              </ion-list-header>

              <ion-item>
                <ion-grid>
                  <ion-row class="ion-justify-content-center">
                    <ion-col size="4">
                      <ion-label>
                        <h3>{{ 'category.singular' | translate }}</h3>
                      </ion-label>
                    </ion-col>
                    <ion-col size="4">
                      <ion-label>
                        <h3 class="ion-text-end">{{ 'budget.expected' | translate }}</h3>
                      </ion-label>
                    </ion-col>
                    <ion-col size="4">
                      <ion-label>
                        <h3 class="ion-text-end">{{ 'budget.remains' | translate }}</h3>
                      </ion-label>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-item>

              <ng-container *ngFor="let it of budgetReport.details">
                <ion-item>
                  <ion-grid>
                    <ion-row class="ion-justify-content-center">
                      <ion-col size="4">
                        <ion-label>
                          <h3>{{it.name}}</h3>
                        </ion-label>
                      </ion-col>
                      <ion-col size="4">
                        <ion-label>
                          <p class="ion-text-end">{{it.expected | number: '0.2-2'}}</p>
                        </ion-label>
                      </ion-col>
                      <ion-col size="4">
                        <ion-label>
                          <p class="ion-text-end">{{it.remainedToExpend | number: '0.2-2'}}</p>
                        </ion-label>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-item>
              </ng-container>

              <ion-item lines="none">
                <ion-grid>
                  <ion-row class="ion-justify-content-center">
                    <ion-col size="4">
                      <ion-label>
                        <h3>{{ 'general.total' | translate }}</h3>
                      </ion-label>
                    </ion-col>
                    <ion-col size="4">
                      <ion-label>
                        <h3 class="ion-text-end">{{budgetReport.totalExpected | number: '0.2-2'}}</h3>
                      </ion-label>
                    </ion-col>
                    <ion-col size="4">
                      <ion-label>
                        <h3 class="ion-text-end">{{budgetReport.totalRemainedToExpend | number: '0.2-2'}}</h3>
                      </ion-label>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-item>

            </ion-list>

            <ion-list>
              <ion-list-header>
                <h2>{{ 'budget.unaccounted' | translate }}</h2>
              </ion-list-header>

              <ion-item>
                <ion-grid>
                  <ion-row class="ion-justify-content-center">
                    <ion-col size="8">
                      <ion-label>
                        <h3>{{ 'category.singular' | translate }}</h3>
                      </ion-label>
                    </ion-col>
                    <ion-col size="4">
                      <ion-label>
                        <h3 class="ion-text-end">{{ 'general.amount' | translate }}</h3>
                      </ion-label>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-item>

              <ng-container *ngFor="let it of budgetReport.unaccounted">
                <ion-item>
                  <ion-grid>
                    <ion-row class="ion-justify-content-center">
                      <ion-col size="8">
                        <ion-label>
                          <h3>{{it.name}}</h3>
                        </ion-label>
                      </ion-col>
                      <ion-col size="4">
                        <ion-label>
                          <p class="ion-text-end">{{it.total | number: '0.2-2'}}</p>
                        </ion-label>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-item>
              </ng-container>

              <ion-item lines="none">
                <ion-grid>
                  <ion-row class="ion-justify-content-center">
                    <ion-col size="8">
                      <ion-label>
                        <h3>{{ 'general.total' | translate }}</h3>
                      </ion-label>
                    </ion-col>
                    <ion-col size="4">
                      <ion-label>
                        <h3 class="ion-text-end">{{budgetReport.totalUnaccounted | number: '0.2-2'}}</h3>
                      </ion-label>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-item>

            </ion-list>
          </ion-card>
        </ion-col>
      </ion-row>

    </ion-grid>
    <app-budget-item-details *ngSwitchCase="'items'" [budget]="budgetReport.budget"></app-budget-item-details>
  </ng-container>
</ion-content>

<ion-footer *ngIf="segment == 'info'">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="light" fill="solid" size="small" *ngIf="editing && !isSending" (click)="cancelEdit()">
        {{ 'general.reset' | translate }}
        <ion-icon slot="start" ios="close-outline" md="close"></ion-icon>
      </ion-button>
      <ion-button color="danger" fill="solid" size="small" *ngIf="!editing && !isSending" (click)="delete()">
        {{ 'general.delete' | translate }}
        <ion-icon slot="start" ios="trash-outline" md="trash"></ion-icon>
      </ion-button>
      <ion-button color="primary" fill="solid" size="small" *ngIf="!editing && !isSending" (click)="copy()">
        {{ 'general.copy' | translate }}
        <ion-icon slot="start" ios="copy-outline" md="copy"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="primary" fill="solid" size="small" *ngIf="editing && !isSending" (click)="save()"
                  [disabled]="form.invalid">
        {{ 'general.save' | translate }}
        <ion-icon slot="end" ios="save-outline" md="save"></ion-icon>
      </ion-button>
      <ion-button color="primary" fill="solid" size="small" *ngIf="!editing" (click)="startEdit()"
                  [disabled]="isSending">
        {{ 'general.edit' | translate }}
        <ion-icon slot="end" ios="pencil-outline" md="pencil"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
