<ion-app>
  <ion-split-pane contentId="main">
    <ion-menu contentId="main" type="overlay">
      <ion-header>
        <ion-toolbar>
          <ion-title>{{ "general.menu" | translate }}</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list id="inbox-list">
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">

            <ng-container *ngIf="p.url != null && !p.hide">
              <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none"
                        detail="false" [class.selected]="currentRoute != null && currentRoute.startsWith(p.url)">
                <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
                <ion-label>{{ p.title | translate }}</ion-label>
              </ion-item>
            </ng-container>

            <ng-container *ngIf="p.action != null && !p.hide">
              <ion-item (click)="p.action();" lines="none" detail="false">
                <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
                <ion-label>{{ p.title | translate }}</ion-label>
              </ion-item>
            </ng-container>

          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
