<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="toCopy == null">{{ 'expense.create' | translate }}</ion-title>
    <ion-title *ngIf="toCopy != null">{{ 'expense.copying' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" ios="close-outline" md="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="light" fill="solid" size="small" (click)="close()">
        {{ 'general.cancel' | translate }}
        <ion-icon slot="start" ios="close-outline" md="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="primary" fill="solid" size="small" *ngIf="!isSending" (click)="save()"
                  [disabled]="form == null || form.invalid || selectedCurrency == null" (document:keydown.control.enter)="save()">
        {{ 'general.new' | translate }}
        <ion-icon slot="end" ios="add-outline" md="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form role="form" *ngIf="form != null" [formGroup]="form">
    <ion-row class="ion-justify-content-center">

      <ion-col size="12" size-md="8">
        <ion-item>
          <ion-label position="floating">
            {{ 'general.registered' | translate }}
            <ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-datetime formControlName="registered" [displayFormat]="dateFormat"></ion-datetime>
        </ion-item>
      </ion-col>

      <ion-col size="12" size-md="8">
        <ion-item>
          <ion-label position="floating">
            {{ 'business.singular' | translate }}
            <ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input formControlName="business" [readonly]="true" (click)="searchBusiness()"></ion-input>
        </ion-item>
      </ion-col>

      <ion-col size="12" size-md="8">
        <ion-item>
          <ion-label position="floating">
            {{ 'currency.singular' | translate }}
            <ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input formControlName="currency" [readonly]="true" (click)="searchCurrency()"></ion-input>
        </ion-item>
      </ion-col>

      <ion-col size="12" size-md="8">
        <ion-item>
          <ion-label position="floating">{{ 'exchangeRate.singular' | translate }}</ion-label>
          <ion-input formControlName="rate" [readonly]="true" (click)="searchExchangeRate()"></ion-input>
          <ion-icon ios="close-outline" md="close" slot="end" *ngIf="selectedRate != null && !isSending"
                    (click)="clearExchangeRate()" class="ion-padding-vertical"></ion-icon>
        </ion-item>
      </ion-col>

    </ion-row>
    <ion-row class="ion-justify-content-center">

      <ion-col size="12" size-md="8" *ngIf="toCopy != null">
        <ion-item>
          <p>
            {{ 'expense.copyingFrom' | translate }} {{toCopy.registered | date: pipeDateFormat}} -
            {{ 'business.singular' | translate }} {{toCopy.business.name}} -
            {{ 'currency.singular' | translate }} {{toCopy.currency.name}}
          </p>
        </ion-item>
      </ion-col>

    </ion-row>
  </form>
</ion-content>
