<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'general.copy' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" ios="close-outline" md="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="ion-justify-content-center">

    <ion-col size="12" size-md="8">
      <ion-item lines="none">
        <ion-button fill="solid" [color]="copied ? 'success' : 'primary'" slot="end" (click)="copy()">
          {{ 'general.copy' | translate }}
          <ion-icon slot="end" ios="copy-outline" md="copy" *ngIf="!copied"></ion-icon>
          <ion-icon slot="end" ios="checkmark-outline" md="checkmark" *ngIf="copied"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item lines="none">
        <ion-textarea #copyText readonly="true" [value]="toCopy" rows="25"></ion-textarea>
      </ion-item>
    </ion-col>

  </ion-row>
</ion-content>
