<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'expense.detail' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" ios="close-outline" md="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="light" fill="solid" size="small" *ngIf="editing && !isSending" (click)="cancelEdit()">
        {{ 'general.cancel' | translate }}
        <ion-icon slot="start" ios="close-outline" md="close"></ion-icon>
      </ion-button>
      <ion-button color="danger" fill="solid" size="small"
                  *ngIf="!editing && !isSending && detail != null && detail.id > 0" (click)="delete()">
        {{ 'general.delete' | translate }}
        <ion-icon slot="start" ios="trash-outline" md="trash"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="primary" fill="solid" size="small" *ngIf="editing && !isSending" (click)="save()"
                  [disabled]="form.invalid || selectedProduct == null" (document:keydown.control.enter)="save()">
        {{ 'general.save' | translate }}
        <ion-icon slot="end" ios="save-outline" md="save"></ion-icon>
      </ion-button>
      <ion-button color="primary" fill="solid" size="small" *ngIf="editing && !isSending && (detail == null || detail.id <= 0)" (click)="save(false)"
                  [disabled]="form.invalid || selectedProduct == null" (document:keydown.control.shift.enter)="save(false)">
        <ion-icon slot="end" ios="add-outline" md="add"></ion-icon>
      </ion-button>
      <ion-button color="primary" fill="solid" size="small" *ngIf="!editing && !isSending" (click)="startEdit(true)">
        {{ 'general.edit' | translate }}
        <ion-icon slot="end" ios="pencil-outline" md="pencil"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form role="form" [formGroup]="form">
    <ion-grid>
      <ion-row class="ion-justify-content-center">

        <ion-col size="4" size-md="2">
          <ion-item>
            <ion-label position="floating">{{ 'general.id' | translate }}</ion-label>
            <ion-input formControlName="id"></ion-input>
          </ion-item>
        </ion-col>

        <ion-col size="8" size-md="6"></ion-col>

      </ion-row>

      <ion-row class="ion-justify-content-center">
        <ion-col size="12" size-md="8">
          <ion-item>
            <ion-label position="floating">
              {{ 'product.singular' | translate }}
              <ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-input formControlName="product" [readonly]="true" (click)="searchProduct()"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-center">
        <ion-col size="12" size-md="8">
          <ion-item>
            <ion-label position="floating">{{ 'category.singular' | translate }}</ion-label>
            <ion-input formControlName="category" [readonly]="true" (click)="searchCategory()"></ion-input>
            <ion-icon ios="refresh-outline" md="refresh" slot="end" *ngIf="overrideCategory && editing"
                      (click)="resetCategory()" class="ion-padding-vertical"></ion-icon>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-center">

        <ion-col size="12" size-md="8">
          <ion-item>
            <ion-label position="floating">
              {{ 'general.amount' | translate }}
              <ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-input formControlName="amount" type="number" #amount></ion-input>
          </ion-item>
        </ion-col>

        <ion-col size="12" size-md="8">
          <ion-item>
            <ion-label position="floating">{{ 'expense.description' | translate }}</ion-label>
            <ion-input formControlName="description"></ion-input>
          </ion-item>
        </ion-col>

        <ion-col size="12" size-md="8" *ngIf="detail == null">
          <ion-item>
            <ion-label position="floating">{{ 'expense.repetitions' | translate }}</ion-label>
            <ion-input formControlName="repetitions" type="number"></ion-input>
          </ion-item>
        </ion-col>

        <ion-col size="12" size-md="8">
          <ion-item lines="none">
            <ion-label>{{ 'expense.discountsDoNotApply' | translate }}</ion-label>
            <ion-checkbox formControlName="withoutDiscount" color="success" slot="start"></ion-checkbox>
          </ion-item>
        </ion-col>

      </ion-row>

      <ion-row class="ion-justify-content-center"
               *ngIf="!editing && detail != null && detail.discount != null && detail.subtotal != null">

        <ion-col size="6" size-md="4">
          <ion-label>
            <p>{{ 'general.discounts' | translate }}</p>
            <h2>{{detail.discount | number: '0.2-2'}}</h2>
          </ion-label>
        </ion-col>

        <ion-col size="6" size-md="4">
          <ion-label>
            <p>{{ 'general.subtotal' | translate }}</p>
            <h2>{{detail.subtotal | number: '0.2-2'}}</h2>
          </ion-label>
        </ion-col>

      </ion-row>

    </ion-grid>
  </form>
</ion-content>
