<ion-grid>
  <ion-row class="ion-justify-content-center">
    <ion-col size="12" size-md="8">
      <ion-list>
        <ion-item>
          <ion-button slot="end" fill="solid" color="success" expand="block"
                      (click)="openDiscount(null, null)" [disabled]="expense.status != 'OPENED'">
            {{ 'general.add' | translate }}
            <ion-icon slot="end" ios="add-outline" md="add"></ion-icon>
          </ion-button>
        </ion-item>
        <ng-container *ngIf="discounts.length > 0">
          <ion-item *ngFor="let d of discounts; let i = index">
            <ion-label>
              <h2>
                {{d.description == null || d.description.length == 0 ? ('expense.withoutDescription' | translate) : d.description}}
              </h2>
              <ion-grid>
                <ion-row>
                  <ion-col size="12">
                    <ion-label>
                      <p>{{ 'general.amount' | translate }}</p>
                      <h2>{{d.amount | number: '0.2-2'}}</h2>
                    </ion-label>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-label>
            <ion-button slot="end" fill="clear" color="dark" fxHide.xs="true" (click)="openDiscount(d, i)"
                        [disabled]="expense.status != 'OPENED'">
              {{ 'general.view' | translate }}
              <ion-icon slot="end" name="eye"></ion-icon>
            </ion-button>
            <ion-button slot="end" fill="clear" color="dark" fxHide.gt-xs="true" (click)="openDiscount(d, i)"
                        [disabled]="expense.status != 'OPENED'">
              <ion-icon slot="end" name="eye"></ion-icon>
            </ion-button>
          </ion-item>
        </ng-container>
        <ion-item *ngIf="loadingContent">
          <ion-label>{{ 'general.loading' | translate }}</ion-label>
          <ion-spinner></ion-spinner>
        </ion-item>
      </ion-list>

      <ion-infinite-scroll threshold="100px" (ionInfinite)="listContent()">
        <ion-infinite-scroll-content loading-spinner="null">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ion-col>
  </ion-row>

</ion-grid>
