<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ "home.singular" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col size="12">

        <ion-card>
          <ion-card-header>
            <ion-card-title>{{ "home.budgetProgress" | translate }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <app-budget-card></app-budget-card>
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-header>
            <ion-card-title>{{ "home.byBusiness" | translate }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <app-business-card></app-business-card>
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-header>
            <ion-card-title>{{ "home.byProduct" | translate }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <app-product-card></app-product-card>
          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
