<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="true"></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ 'currency.plural' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="presentSort($event)">
        <ion-icon slot="icon-only" ios="swap-vertical-outline" md="swap-vertical"
                  [color]="sortConfig.currentSort.property != null ? 'primary' : 'dark'"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar debounce="500" placeholder="{{ 'currency.search' | translate }}"
                   (ionChange)="search($event.target.value)"
                   (ionClear)="resetList()"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ng-container *ngIf="currencies.length > 0">
      <ion-item *ngFor="let ccy of currencies; let i = index">
        <ion-label>
          <h2>{{ccy.name}}</h2>
          <p>{{ccy.code}}
            <ion-badge color="primary">{{ccy.identifier}}</ion-badge>
          </p>
        </ion-label>
        <ion-button fill="clear" color="dark" fxHide.xs="true" (click)="openCurrency(ccy, i)">
          {{ 'general.view' | translate }}
          <ion-icon slot="end" name="eye"></ion-icon>
        </ion-button>
        <ion-button fill="clear" color="dark" fxHide.gt-xs="true" (click)="openCurrency(ccy, i)">
          <ion-icon slot="end" name="eye"></ion-icon>
        </ion-button>
      </ion-item>
    </ng-container>
    <ion-item *ngIf="loadingContent">
      <ion-label>{{ 'general.loading' | translate }}</ion-label>
      <ion-spinner></ion-spinner>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="listContent()">
    <ion-infinite-scroll-content loading-spinner="null">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button color="success" fill="solid" expand="block" (click)="openCurrency(null, null)">
        {{ 'general.new' | translate }}
        <ion-icon ios="add-outline" md="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
